*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
downloads
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml
.noseids

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


!.data/.gitkeep

# Sublime Text files
*.sublime-*

# project related
src/app/distlib
