[dev_appserver]
# Set default values to start the dev_appserver. All options from the
# command line are allowed. They are inserted at the beginning of the
# arguments. Values are used as they are; don't use variables here.
recipe = appfy.recipe.gae:tools
defaults =
    src/app/
    --datastore_path=.data/dev_appserver.datastore
    --blobstore_path=.data/dev_appserver.blobstore
    --search_indexes_path=.data/dev_appserver.search_indexes
    --api_port=7000
    --port=8080
